<a href="https://colab.research.google.com/github/carollinaalbuquerque/Exercicio_html/blob/main/modulo_01_python_ebac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Módulo 01**
### Variáveis & Tipos de dados

Uma variável é um mecanismo de armazenamento de dados que pode ser editado. Ele é armazenado momentâneamente na mémória Ram enquanto o estiver em uso.

In [ ]:
idade = 36
print(idade)

36

Acima definimos uma variável, reservamos um espaço na memória para informar que a idade é 36. E logo em seguida usamos o recurso "print", que tem a função de apresentar o valor de uma variável ou função na tela.

## **Visão rápida sobre as tipagens em Python**

### **tipos nativos**

Este são tipos que já estão disponiveis nativamente com a linguagem Python. Não precisamos criar nada para usar estas ferramentas.

**Tipos numéricos:** inteiros(int) e decimais(float):

In [ ]:
preco = 1000
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

juros = 0.05
tipo_juros = type(juros)

print(juros)
print(tipo_juros)

1000
<class 'int'>
0.05
<class 'float'>

A função de identificar as variáveis é responsabilidade do back end, então é sempre bom nomear as variáveis de formar que o entendimento de suas funções esteja clara logo no nome. Por exemplo, se temos várias variáveis de preço, ao invés de apenas identificar como "preco1", "preco2" e por ai vai, defina como "preco_da_banana", "preco_da_maca". Assim facilita o manuseio de diversas variáveis ao mesmo tempo. Importante que em Python os nomes de variáveis não podem conter espaços, use underlines para separar as palavras (snake_case). E não pode haver uso de letras maiúsculas também.

No exemplo acima também vimos o uso de uma nova ferramenta nas variáveis, o "type". Como o próprio nome sugere, ele tem a função de definir o tipo de uma outra variável para o entendimento do código. No exemplo ele esta informando ao sistema os tipos numérios da variável preco, como inteiros(int), e da variável juros como decimais(float).

**Tipos de texto:** strings(str):

In [ ]:
primeiro_nome = "André"

print(primeiro_nome)
print(type(primeiro_nome))

pais = 'Brasil'

print(pais)
print(type(pais))

André
<class 'str'>
Brasil
<class 'str'>

Os tipos textuais sempre são identificados como *strings*, tanto em Python como em quase todas as outras linguagens de programação. Ao definir um valor como string, este valor sempre deve estar entre aspas, mas em Python tanto faz se for entre aspas simples ou dupla.

Um novo recurso que vimos acima, é que podemos pedir um print da tipagem(type) de uma variável sem ter que obrigatóriamente criar uma nova variável pedindo este valor. Podemos simplesmente executar um comando print com um comando type dentro dos parênteses, e dentro do type colocar a variável que quer consultar. Assim, simplificando o código e reduzindo linhas desnecessárias.

**Tipos lógicos:** booleanos(bool):

In [ ]:
usuario_maior_de_idade = True

print(usuario_maior_de_idade)
print(type(usuario_maior_de_idade))

usuario_esta_online = False

print(usuario_esta_online)
print(type(usuario_esta_online))

True
<class 'bool'>
False
<class 'bool'>

Os tipos lógicos são muito usados na programação. Sua função são perguntas de respostas diretas de verdadeiro(True) ou falso(False). Lembrando que as respostas de um booleano sempre deve ser com inicial maiúscula.

**Tipo vazio:** None(NoneType)

In [ ]:
telefone_fixo = None

print(telefone_fixo)
print(type(telefone_fixo))

None
<class 'NoneType'>

Estes são tipos usados para designinar áreas vázias tanto para respostas de preenchimento de váriáveis, quanto para valores iniciais de uma váriável. O exemplo acima mostra que ao preencher um formulário, o usuário está informando ao sistema que não possui um telefone fixo ao responder o None.

## **Se aprofundando em variáveis numéricas.**

### **Definição**

Armazenam **valores numéricos**:


1.   **Inteiros (int):** 10, 37, 500;
2.   **Decimais (float):** 0.333, 10.1;
3.   **Complexos (complexos):** 1 + 2j

In [ ]:
print(type(37))
print(type(10.1))
print(type(1 + 2j))

<class 'int'>
<class 'float'>
<class 'complex'>

### **Operações**

As operações dos tipos númericos tem 4 operações básicas:

- .  + (soma);
- .  - (subtração);
- .  * (multiplicação);
- .  / (divisão).

Além de operações mais avançadas:
- . // (divisão inteira);
- . ** (potência ou exponenciação);
- . % (resto de divisão)

**Exemplo 1:** Carrinho de compra de um e-commerce

In [ ]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra = qtd_items_carrinho_compra + 1
print(qtd_items_carrinho_compra)

qtd_items_carrinho_compra = qtd_items_carrinho_compra - 1
print(qtd_items_carrinho_compra)

1
0

Neste exemplo definimos uma variável com o valor inicial de 0. E então definimos que o valor desta variável é ela mesma em seu estado anterior somando + 1 a seu valor final. Em seguida printamos o resultado atualizado. O mesmo processo é feito para subtração, só alterando símbolo da operação.

In [ ]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra += 1
print(qtd_items_carrinho_compra)

qtd_items_carrinho_compra -= 1
print(qtd_items_carrinho_compra)

1
0

Acima vemos uma versão simplificada desta operação. Colocando apenas o nome da variável, seguida do símbolo da operação mais o sinal de igual e o valor. Evita repetir o nome da variável duas vezes e tornar o código mais extenso.

**Exemplo 2:** Total a pagar de um produto.

In [ ]:
preco_quilo = 47
quantidade = 0.250

total_a_pagar = quantidade * preco_quilo
print(total_a_pagar)

11.75

Neste exemplo acima temos o uso do operador de multiplicação em uma função para simular o valor do preço a pagar em um produto. São criadas três variáveis. Uma com o valor por unidade, outra com a quantidade que o cliente ira levar e a terceira com a operação de cálculo, multiplicando os dois valores. E por fim o print com o preço final a pagar.

### **Conversão**

Podemos converter os tipos numéricos **int**, **float** e **complex** com as seguintes funções:

In [ ]:
print(int(3.9))

3

In [ ]:
print(float(10))

10.0

In [ ]:
print(complex(1))

(1+0j)

### **PRÁTICA - Variáveis numéricas**

Usando o que aprendemos das funções numéricas até aqui, vamos criar uma tabela para calcular ticket médio de um restaurante durante três dias de funcionamento.

- Variável svv = Soma dos valores das vendas
- variável sqv = Soma das quantidades de vendas
- variável tkt = função de cálculo do ticket
- Todas as variáveis vão receber uma numeração referente ao dia que está sendo contabilizado.

**Ticket médio do dia 19/01.**

In [ ]:
svv_19 = 153.98
sqv_19 = 3

tkt_19 = svv_19 / sqv_19
print(tkt_19)

51.32666666666666

**Ticket médio do dia 20/01.**

In [ ]:
svv_20 = 337.01
sqv_20 = 7

tkt_20 = svv_20 / sqv_20
print(tkt_20)

48.144285714285715

**Ticket médio do dia 23/01.**

In [ ]:
svv_23 = 295.33
sqv_23 = 5

tkt_23 = svv_23 / sqv_23
print(tkt_23)

59.065999999999995

**Ticket médio:** Agora para saber o valor que um cliente pode gastar em média durante o período destes 3 dias, vamos executar a variável tkt. Está variável vai nos retornar o resultado da soma do ticket médio dos 3 dias contabilizados dividido por 3.

In [ ]:
tkt = (tkt_19 + tkt_20 + tkt_23) / 3
print(tkt)

52.8456507936508

## **Se aprofundando em Strings.**

### **Definição**

As strings são simples, elas armazenam textos. Tudo os que estiver em seu valor, entre as aspas(duplas ou simples), será considerado texto. Seu tipo em Python é o **str**.

In [ ]:
nome_aula = "Aula 04, Módulo 01, Strings"

print(nome_aula)
print(type(nome_aula))

Aula 04, Módulo 01, Strings
<class 'str'>

Mesmo uma string sem textos em suas aspas, uma string vazia, ainda é considerada como uma string.

In [ ]:
string_vazia = ""

print(string_vazia)
print(type(string_vazia))

<class 'str'>

### **Operações com strings**

**1 - Concatenação:** Com o uso de strings, e de variáveis com valores de string conectadas por "+". Desta forma, o resultado será uma frase ou texto com todos os valores um ao lado do outro.

**Exemplo:** Nome completo

In [ ]:
nome = "André Silva"
sobrenome = "Soares"

apresentacao = "Olá, meu nome é " + nome + " " + sobrenome + "."
print(apresentacao)

Olá, meu nome é André Silva Soares.

Outra forma de realizar esta concatenação é utilizando o operador de formação(f). Em que no valor da variável, antes das aspas da string, se adiciona o operador "f". Ele vai ler o conteúdo entre as aspas e automáticamente trocar todas as variáveis dentro das "{}" por seus valores em string.

In [ ]:
nome = "André Silva"
sobrenome = "Soares"

apresentacao = f"Olá, meu nome é {nome} {sobrenome}."
print(apresentacao)

Olá, meu nome é André Silva Soares.

**2 - Fatiamento:** Está operação tem como base que toda a string é "mapeada", seus caracteres são contados. iniciando de 0 e seguindo até o final. O fatiamento pode então retornar o valor contido de apenas um caracter, uma palavra ou um trecho de uma string. Desde que se saiba selecionar os valores de caracteres certos.

Agora vamos definir o valor de uma variável String, e demonstrar exemplos dos métodos de fatiamento.

In [ ]:
email = "andre.perez@gmail.com"

**Exemplo de Fatiamento fixo:** Este tipo seleciona um único caracter. Selecionamos a variável e entre "[ ]" ao lado, o valor do caracter.

In [ ]:
email = "andre.perez@gmail.com"

print("0: " + email[0])
print("11: " + email[11])

0: a
11: @

Valores de busca negativos vão realizar a busca de trás para frente nos caracteres.

In [ ]:
print("-1: " + email[-1])
print("-2: " + email[-2])

-1: m
-2: o

**Exemplo de fatiamento por intervalo:** este tipo de fatiamento irá separar e apresentar todos os valores que estiverem no intervalo de números de caracteres pedidos na variável. Um valor representando o início e um outro o fim. Porém se deve ter em mente que o valor de fim é sempre desconsiderado, ele é como um ponto final. Se o seu valor de início é 3 e o valor final é 8, a variável só vai apresentar os caracteres de 3 até 7.

In [ ]:
email = "andre.perez@gmail.com"
email_usuario = email[0:11]

print(email_usuario)

andre.perez

In [ ]:
email_provedor = email[12:21]

print(email_provedor)

gmail.com

**3 - Métodos:** Os métodos são funções nativas da linguagem Python, eles existem para auxiliar o programador das mais diversas formas. Aqui vamos apresentar apenas os métodos que ajudam em relação as strings.

In [ ]:
# O primeiro é o "upper", ele altera todos os caracteres da string para letras maiúsculas.
endereco = "Avenida Paulista, 1811, São Paulo, São Paulo, Brasil."
print(endereco.upper())

AVENIDA PAULISTA, 1811, SÃO PAULO, SÃO PAULO, BRASIL.

In [ ]:
# Depois temos o "find", ele busca o texto que você precisa dentro da string, e lhe retorna a posição do mesmo a partir da numeração do primeiro caracter.
posicao = endereco.find("brasil")
print(posicao)

-1

In [ ]:
# Por último temos o "replace", que pode substituir trechos da string.
print(endereco.replace("Avenida", "Av"))

Av Paulista, 1811, São Paulo, São Paulo, Brasil.

**4 - Conversão:** Muitas vezes vamos precisar pegar informações de strings e usalas, ou alteradas para outros fins. Para isso criamos uma variável em que adicionamos a tipagem para qual queremos converter a tipagem antes do elemento.

In [ ]:
# converter de um númerico inteiro para uma string:
idade = 19
print(type(idade))

idade = str(idade)
print(type(idade))

<class 'int'>
<class 'str'>

In [ ]:
# converter de string para numérico inteiro:
faturamento = "R$ 35 mi"
print(faturamento)
print(type(faturamento))

faturamento = int(faturamento[3:5])
print(faturamento)
print(type(faturamento))
# OBS: importante notar que neste caso, temos que usar fatiamento para selecionar apenas os múmeros da string.

R$ 35 mi
<class 'str'>
35
<class 'int'>

### **PRÁTICA - Strings**

A empresa em que você trabalha comprou uma startup de logística. Você precisa identificar todos os endereços que são comuns a ambas. Na sua empresa, você armazena a latitude e a longitude dos endereços em duas variáveis, "lat" e "lon", já a startup adquirida em uma única variável "latlon".

In [ ]:
# sua empresa
lat = "-22.005320"
lon = "-47.891040"

# startup adquirida
latlon = "-22.005320;-47.891040"

Como podemos normalizar a forma com que as latitudes e longitudes são armazenadas para que possam ser comparadas?

Vamos pegar a variável "latlon" da startup e vamos separar seus valores de latitude e longitude, para poder comparar com os valores já arquivados na empresa. Para isso primeiro temos que identificar a numeração de posição do caracter ";" que separa os valores de latlon. Então vamos começar usando o método "find".

In [ ]:
#localizando o ";" com o find:
latlon = "-22.005320;-47.891040"

posicao_char_divisao = latlon.find(";")
print(posicao_char_divisao)

10

Ok, agora com esta informação podemos usar o metodo de fatiamento para separar os valores. Para latitude, basta usar o fatiamento e selecionar os caracteres de 0 até 10, que foi o resultado apresentado por "posicao_char_divisao".

In [ ]:
#Extraindo a latitude com o fatiamento:
lat_startup = latlon[0:10]
print(lat_startup)

-22.005320

Para conseguirmos a longitude vamos usar um processo parecido, mas com dois pontos a adicionar. O primeiro é que temos que atentar a pegar o valor seguinte ao do posicionamento de ";" para o início do fatiamento. O segundo ponto é que vamos usar um método novo, o **"len"** para descobrir o valor do último caracter da string. Podemos só contar os número de caracteres e não usar ele, mas em casos de strings grandes, isso não é viável.

In [ ]:
lon_startup = latlon[11:len(latlon)]
print(lon_startup)

-47.891040

Assim conseguindo os dois valores em separado para as devidas comparações.

## **Se aprofundando em Boleanos.**

### **Definição**

Os booleanos são variáveis que armazenam **valores lógicos** de *True* ou *False*, que seria verdadeiro ou falso, pode-se entender como sim ou não também.

Basta criar uma variável, e atribuir o True ou False, dependendo da condição da variável. Os valores dos boleanos podem parecer strings, mas não são, tanto que não são escritos em aspas. E são apresentados em cor diferente no Python. Estes valores são conhecidos como **palavras reservadas** do sistema. São palavras que o programador só pode utilizar em situações delimitadas pela linguagem. Pois ela precisa destas palavras para executar funcionalidades. Exemplos são as palavras "print", "type", "len" e True/false que vimos até agora.

In [ ]:
verdadeiro = True
print(verdadeiro)

falso = False
print(falso)

# No python estas variáveis são conhecidas pelo tipo(type) "bool".
print(type(True))

True
False
<class 'bool'>

O uso destas variáveis são em grande parte para apresentar o resultado de comparações lógicas em funções dentro da programação. Se comparam duas ou mais variáveis com um destes operadores, e o retorno é um boleano de True ou False.

1. Maior: **>**
2. Menor: **<**
3. igual: **==**
4. Maior ou igual: **>=**
5. Menor ou igual: **<=**
6. Diferente: **!=**

**Exemplos 01 sobre uso de boleanos:** Caixa eletrônico

In [ ]:
# vamos simular um saque em uma conta bancária.
saldo_em_conta = 200
valor_do_saque = 100

# A variável abaixo ira executar o comparador lógico de menor ou igual(<=), e ira responder com um boleano.
pode_executar_saque = valor_do_saque <= saldo_em_conta
print(pode_executar_saque)

True

**Exemplos 02 sobre uso de boleanos:** Cartão de crédito CV

In [ ]:
# vamos simular uma conferência de código de segurnaça do cartão, para validar uma compra.
codigo_de_seguranca = "852"
codigo_de_seguranca_cadastrado = "010"

# A variável abaixo ira executar o comparador lógico de igualdade(==), e ira responder com um boleano.
pode_efetuar_pagamento = codigo_de_seguranca == codigo_de_seguranca_cadastrado
print(pode_efetuar_pagamento)

False

### **Operadores em Boleanos**

Os operadores que exclusivamente atuam em variáveis boleanas são:


1. Operador "ou": **|**
2. Operador "e": **&**
3. Operador "não": **not**

Quando utilizamos este operadores acima em variáveis boleanas para funções lógicas, o resultado é geralmente conhecido como a **"tabela da verdade"**.

Se **A** e **B** forem **True**

1. A OR B = TRUE
2. A AND B = TRUE
3. NOT A = FALSE

Se **A** for **True** e **B** for **False**

1. A OR B = TRUE
2. A AND B = FALSE
3. NOT A = FALSE

Se **A** e **B** forem **False**

1. A OR B = FALSE
2. A AND B = FALSE
3. NOT A = TRUE

Se **A** for **False** e **B** for **True**

1. A OR B = TRUE
2. A AND B = FALSE
3. NOT A = TRUE

**Exemplo:** Tabela da verdade para todos os operadores

In [ ]:
# Tabela para o operador "ou": |
print(True | True)
print(True | False)
print(False | False)
print(False | True)

True
True
False
True

In [ ]:
# Tabela para o operador "e": &
print(True & True)
print(True & False)
print(False & False)
print(False & True)

True
False
False
False

In [ ]:
# Tabela para o operador "não": not
print(not True)
print(not False)

False
True

### **Conversão - Boleanos**

Podemos converter variados tipos para o tipo boleano. E eles vão ter seus retornos **True/False** dependendo dos valores em suas variáveis. Podemos realizar a conversão através do método Nativo **"bool"**.

In [ ]:
idade = 19
tipo_sangue = "O-"
filhos = 0
telefone_fixo = None
telefone_numero_fixo = ""

print(bool(idade)) # Retorna True por, que tem um número no valor
print(bool(tipo_sangue)) # Retorna True, por que tem algo escrito entre as aspas
print(bool(filhos)) # Retorna False, porque 0 e números negativos são tratados como false
print(bool(telefone_fixo)) # Retorna False, porque "None" é tratado como false
print(bool(telefone_numero_fixo)) # Retorna False, porque aspas sem caracteres é tratado como false

True
True
False
False
False

### **PRÁTICA - Boleanos**

Em sites, o uso de sistemas de login para controle de acesso é de prática bem comum. Em geral eles fazem uso de dois dados para liberar o acesso, o usuário e a senha.

In [ ]:
usuario = "andre.perez"
senha = "andre123"

No servidor, o sistema backend tem em seu banco de dados de usuários todas as informações concedidas na hora do cadastro.

In [ ]:
usuario_cadastro = "andre.perez"
senha_cadastro = "andre321"

Como podemos realizar a comparação das informações para poder conceder acesso ou não ao usuário?

Para iniciar está comparação primeiro precisamos criar duas varáveis. Uma para executar o comparador de igualdade no nome de usuário e outra para realizar mesmo processo na senha.

In [ ]:
usuario = "andre.perez"
senha = "andre123"

usuario_cadastro = "andre.perez"
senha_cadastro = "andre321"

usuario_igual = usuario == usuario_cadastro
senha_igual = senha == senha_cadastro

print(usuario_igual)
print(senha_igual)

True
False

Agora temos que criar uma operação lógica, que só possa conceder o acesso ao usuário após conferir se tanto o resultado de **"usuario_igual"** quanto o resuldade de **"senha_igual"** forem True.

In [ ]:
usuario = "andre.perez"
senha = "andre123"

usuario_cadastro = "andre.perez"
senha_cadastro = "andre321"

usuario_igual = usuario == usuario_cadastro
senha_igual = senha == senha_cadastro

conceder_acesso = usuario_igual & senha_igual
print(conceder_acesso)

False

Com o operador Lógico "and"(&). Podemos resolver está questão!